#planos {
    background-color: var(--cor02);
}

#planos .main-container {
    background-image: url('../../img/fundo-planos.jpg');
}

.planos{
    padding: 80px 0;
    position: relative; 
}

#planos .planos::before {
    content: '';
    display: block;
    width: 92%;
    height: 100%;
    background-color: var(--cor06);
    border-radius: 40px 0px 0px 40px;
    margin-left: 8%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.planos-topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   
}
.titulo-planos{
    font-family: 'IBM Plex Mono';
    
}
.titulo-planos span{
    color: var(--cor05);
    font-size: 1.5rem;

}
.titulo-planos h2{
    font-family: 'Barlow';
    font-size: 4rem;
}
.titulo-planos .titulo{
    color: white;
}
.planos-topo a{
    font-family: 'IBM Plex Mono';
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    align-self: end;
}
.planos-lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.planos-item{
    padding: 40px;
    background-color: var(--cor02);
    border-radius: 8px; 
    box-sizing: border-box;
    width: 500px; 
    height: max-content;
}

.planos-item h3{
    font-size: 2rem;
    font-family: 'Barlow';
    font-weight: bold;
    width: 400px;
    color: var(--cor01);
}

.planos-item ul {
    margin-bottom: 40px;
}

.planos-item ul li {
    font-family: 'IBM Plex Mono';
    font-weight: normal;
    font-size: 1.125rem;
    margin-bottom: 20px;
    color: var(--cor07);
}

.planos-item a{
    text-align: left;
    display: block;
}

.planos-header span{
    font-family: 'Barlow';
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor05);
    white-space: nowrap;
}

.plano-mensal .planos-header {
    border-bottom: 4px solid var(--cor01); 
}

.plano-semestral .planos-header {
    border-bottom: 4px solid var(--cor04); 
}

.plano-anual .planos-header {
    border-bottom: 4px solid var(--cor03);
}

.planos-header{
    display: flex;
    justify-content: space-between;
    border-bottom:2px solid var(--cor01);
    padding-bottom: 12px;
    margin-bottom: 32px;
}

.planos-header h3 {
    margin-left: 12px;
}

a.button {
    display: inline-block;
    padding: 10px 20px; 
    text-decoration: none;
    color:var(--cor01);
    border-radius: 5px;
    font-family: 'Barlow';
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

a.button-cinza {
    background-color:var(--cor10);
}

a.button-azul {
    background-color:var(--cor04);
}

a.button-amarelo {
    background-color:var(--cor03);
    color: var(--cor02);
    font-weight: 900;
}

.plano-mensal {
    margin-top: 40px;
}

.plano-anual {
    margin-top: 20px;
}

@media (max-width: 2000px) {
    #planos .planos::before {
        width: 100%;
        margin: 0px;
        border-radius: 0px;
    }
}

@media (max-width: 1580px) {
    .plano-mensal {
        margin-top: 0px;
    }
    .plano-anual {
        margin-top: 0px;
    }
    .planos-topo {
        margin-bottom: 80px;
    }
}

@media (max-width: 1200px) {
    .planos-item {
        width: 70%;
    }
    .planos-item .button {
        padding: 12px 24px;
    }
}