#treinos {
    font-family: Barlow;
}

#treinos .main-container {
    background-image: url('../../img/fundo-treinos.jpg');
    border-bottom: 1px solid var(--cor01);
}

/* ----------------------------- */

div.informacoes-usuario {
    color: var(--cor01);
    background-color: var(--cor02);
    font-size: 24px;
    padding: 70px 0;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: start;
}

div.informacoes-usuario span {
    color: var(--cor05);
    font-family: IBM Plex Mono;
    font-size: 12px;
}

#nome-usuario {
    background-color: var(--cor06);
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 32px;
}

/* ----------------------------- */

section.container-treino-geral {
    background-color: var(--cor01);
    display: flex;
    justify-content: end;
}

.container-treino {
    background-color: var(--cor06);
    width: 1400px;
    padding: 40px;
    margin-bottom: 120px;
    border-radius: 40px 0 0 40px;
    display: flex;
    gap: 120px;
}

#treinos .container-treino-painel li:nth-child(odd) {
    padding: 30px 60px 30px 30px;
}

.especificacoes-treino {
    color: var(--cor01);
    padding: 40px;
}

.especificacoes-treino h3{font-size: 2rem;}

.selecionar-musculo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.selecionar-musculo ul {display: flex;}

.selecionar-musculo ul button{
    color: var(--cor01);
    background-color: var(--cor08);
    padding: 8px 16px;
    border: 0;
    border-radius: 10px;
}
.selecionar-musculo ul button:hover{
    background-color: var(--cor05);
}

.especificacoes-table {
    font-family: IBM Plex Mono;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    height: 85%;
}

.especificacoes-table tr:nth-child(even) {
    background-color: var(--cor08);
}

.especificacoes-table td {
    padding: 1rem 3rem;
}

/* ----------------------------- */

.container-solicitar-treino {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#form-div h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#form-div p {
    color: var(--cor05);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.form-solicitar-treino {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 120px;
}

.form-solicitar-treino .input-box {
    font-family: IBM Plex Mono;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-solicitar-treino .select {
    background-color: var(--cor07);
    background-image: url('../img/select_arrow.svg');
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 98% center;
    padding: 0.8rem 0.5rem;
    font-size: 1.2rem;
    border: 0;
    border-radius: 4px;
    appearance: none;
}

.form-solicitar-treino .select:hover {
    background-color: #e7e7e7a1;
    transition: 0.1s;
}

.form-solicitar-treino button {
    background-color: var(--cor03);
    width: fit-content;
    font-weight: 800;
    padding: 0.8rem 2rem;
    text-align: center;
    font-size: 24px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.form-solicitar-treino button:hover {
    background-color: var(--cor11);
    transition: 0.1s;
}

#bodybuilder-div img {
    display: block !important;
}

#bodybuilder-div {
    align-self: end;
}

@media (max-width: 1600px) {
    .container-treino {
        background-color: transparent;
        padding: 0 40px;
    }
    .container-treino-painel::before {
        background-color: transparent;
    }
    .especificacoes-treino {
        color: black;
    }
    .especificacoes-table tr:nth-child(2n) {
        color: white;
    }
    .especificacoes-treino {
        background-color: var(--cor07);
        border-radius: 16px;
    }
}

@media (max-width: 1350px) {
    .container-treino {
        display: block;
    }
    .container-treino-painel {
        padding: 0px;
        width: 60%;
        margin-bottom: 80px;
    }
}

@media (max-width: 1250px) {
    .container-solicitar-treino {
        display: block;
    }
    #bodybuilder-div {
        display: none;
    }

}

@media (max-width: 900px) {
    .container-treino-painel {
        width: 100%;
        padding: 0px;
        margin-bottom: 80px;
    }
}