footer{
   background-color: var(--cor02);
   color: var(--cor01);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   text-align: center;
}

footer li{
   color: var(--cor05);
}