#home {
    overflow-x: hidden;
}

#home .main-container {
    margin-bottom: 120px;
}

.planos-home{
    background-color: var(--cor06);
    color: var(--cor01);
    padding: 20px;
}

.planos-top{
    display: flex;
    align-items: center;
}

.planos-top h2 {
    margin: 20px auto 20px 20px;
  }
  
.planos-lista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0px ;
    gap: 30px;
}

.planos-lista li{
    margin-bottom: 10px;
}

.planos-home a{
    text-decoration: none;
    justify-content: end;
    color: var(--cor01);
}

.planos-item{
    border: 0.5px solid var(--cor02);
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
}

.planos-item ul{
    padding: 0;
}

.planos-item a{
    text-align: left;
    display: block;
    margin-top: 8px;
}

.planos-item ul li {
    margin-bottom: 10px; 
  }

.planos-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.planos button{
    margin-left: 0;
    width: 100%;
}

.treinos-home{
    background-color: var(--cor01);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2px;
}

.container-treino-form {
    display: flex;
    justify-content: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-treino-form  h2{
    color: var(--cor02);
    height: 30px;
}

.container-treino-form p{
    color: var(--cor05);
}

.container-treino-form label{
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}
.container-treino-form input, select{
    width: 20vw;
    height: 4.8vh;
    box-sizing: border-box;
    background-color:  var(--cor07);
    margin: 5px;
    border-radius: 2px;
    border: 0.1 solid var(--cor05);
}

.container-treino-form button{
    background-color: var(--cor03);
    color: var(--cor02);
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 4px;    
    margin: 20px;
}

.container-treino-painel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 0;
    position: relative;
    z-index: 1;
    padding: 60px 0 60px 40px;
    border-radius: 40px 0 0 40px;
}

.container-treino-painel::before {
    content: '';
    position: absolute;
    height: 100%;
    z-index: -1;
    background-color: var(--cor06);
    border-radius: 40px 0 0 40px;
    top: 0px;
}

#home .container-treino-painel::before {width: 1000px;}

.container-treino-painel li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--cor08);
}

.container-treino-painel li:nth-child(even) {
    padding: 20px 40px;
    border-radius: 0 10px 10px 0;
}

.container-treino-painel li:nth-child(odd) {
    padding: 20px 40px 20px 20px;
    border-radius: 10px 0 0 10px;
    position: relative;
}

.container-treino-painel li:nth-child(odd)::after {
    content: '';
    width: 2px;
    height: calc(100% - 1.5rem);
    background-color: var(--cor07);
    position: absolute;
    right: 0px;
    top: .75rem;
}

.container-treino-painel li:hover {
    background-color: var(--cor10);
}

.container-treino-painel h3 {
    font-family: 'IBM Plex Mono';
    font-size: 1.125rem;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 80px;
}

.container-treino-painel h3::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 8px;
    background-color: var(--cor03);
}

.container-treino-painel span {
    font-family: 'IBM Plex Mono';
    font-size: 1rem;
    font-weight: bold;
    color: var(--cor09);
    text-align: center;
}

