<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Cadastro - Fitness</title>
   <link rel="stylesheet" href="./css/style.css">
   <link rel="icon" href="./favicon.svg" type="img/svg+xml">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=IBM+Plex+Mono:wght@500;700&display=swap" rel="stylesheet">
</head>

<body id="cadastro">
   <article class="main-container">
      <div class="main-content">
         <header class="header">
            <div class="header-content container">
               <a href="index.html" class="logo"><img src="./img/logo.svg" alt=""></a>
               <nav>
                  <ul class="nav">
                     <li><a href="planos.html">Planos</a></li>
                     <li><a href="#">Suporte</a></li>
                     <li><a href="cadastro.html">Login</a></li>
                     <li><a href="#">Cadastro</a></li>
                  </ul>
               </nav>
            </div>
         </header>
         <main class="main container">
            <h1 class="titulo-principal titulo">Cadastre-se<br>agora mesmo.</h1>
         </main>
      </div>
   </article>
   
   <section class="cadastro-container container">
      <div class="cadastro-content">
         <h2>Cadastro</h2>
         <button></button>
         <form action="./" class="form-cadastro">
               <div class="form-container">
                  <div>
                     <label for="nome">Nome</label>
                     <input type="text" >
                  </div>
                  <div id="sobrenome">
                     <label for="sobrenome">Sobrenome</label>
                     <input type="text" >
                  </div>
                  <div id="email">
                     <label for="email">E-mail</label>
                     <input type="email" id="email">
                  </div>
                  <div id="cpf">
                     <label for="cpf">CPF</label>
                     <input type="text" >
                  </div>
                  <div id="telefone">
                     <label for="telefone">Telefone</label>
                     <input type="tel" >
                  </div>
                  <div id="data-nasc">
                     <label for="data-nasc">Data de nascimento</label>
                     <input type="date" >
                  </div>
                  <div id="peso">
                     <label for="peso">Peso</label>
                     <input type="number" >
                  </div>
               </div>
               <button class="enviar">ENVIAR</button>
         </form>
      </div>
   </section>

   <footer class="footer">
      <div class="footer-content container">
         <div class="footer-copyright">
            <a href="index.html" class="footer-logo"><img src="./img/logo.svg" alt=""></a>
            <p>Fitness © Todos os direitos<br>reservados.</p>
         </div>
         <div class="footer-criadores">
            <h3>Criadores</h3>
            <ul>
               <li>Matheus Teodoro Garcia</li>
               <li>Valmir Paiva Stachin</li>
               <li>Natália Campos Soares</li>
               <li>Roberto Moriya Junior</li>
               <li>Amanda Soares Vieira</li>
            </ul>
         </div>
         <div class="footer-paginas">
            <h3>Paginas</h3>
            <ul>
               <li>Suporte</li>
               <li>Planos</li>
               <li>Treino</li>
            </ul>
         </div>
      </div>
   </footer>
</body>

</html>