<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home - Fitness</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <link rel="stylesheet" href="../static/style.css">
   <link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="img/svg+xml">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=IBM+Plex+Mono:wght@500;700&display=swap" rel="stylesheet">
</head>

<body id="home">
   <article class="main-container">
      <div class="main-content">
         <header class="header">
            <div class="header-content container">
               <a href="#" class="logo"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt=""></a>
               <button class="menu"></button>
               <nav>
                  <ul class="nav">
                     <li><a href="planos.html">Planos</a></li>
                     <li><a href="treinos.html">Meu treino</a></li>
                     <li id="js-link-login"><a href="login.html">Login</a></li>
                     <li id="js-link-cadastro"><a href="cadastro.html">Cadastro</a></li>
                  </ul>
               </nav>
            </div>
         </header>
         <main class="main container">
            <h1 class="titulo-principal titulo">Atinja o físico<br>que sempre<br>desejou.</h1>
            <a href="treinos.html" class="button-main">TREINAR</a>
         </main>
      </div>
   </article>

   <section class="treinos-home container">
      <div class="container-treino-form">
         <h2 class="titulo">Monte seu treino.</h2>
         <p>Tenha seu treino montado por profissionais<br>capacitados.</p>
         <form action="./" method="GET">
            <div>
               <label for="objetivo">Objetivo</label>
               <select name="objetivo" id="objetivo">
                  <option value="Ganhar Massa">Ganhar massa</option>
                  <option value="Perder peso">Perder peso</option>
               </select>
            </div>
            <div>
               <label for="frequencia">Frequência</label>
               <input type="number" id="frequencia" name="frequencia">
            </div>
            <button type="submit">MONTAR</button>
         </form>
      </div>
      <ul class="container-treino-painel">
         <li>
            <h3>Seg</h3>
            <span>peito<br>tríceps</span>
         </li>
         <li>
            <h3>Ter</h3>
            <span>costas<br>bíceps</span>
         </li>
         <li>
            <h3>Qua</h3>
            <span>quadríceps<br>femoral</span>
         </li>
         <li>
            <h3>Qui</h3>
            <span>ombro<br>tríceps</span>
         </li>
         <li>
            <h3>Sex</h3>
            <span>bíceps<br>panturrilha</span>
         </li>
         <li>
            <h3>Sab</h3>
            <span>...</span>
         </li>
      </ul>
   </section>

   <section class="planos planos-home">
      <div class="planos-topo container">
         <div class="titulo-planos">
            <span>Escolha um plano</span>
            <h2 class="titulo">Planos</h2>
         </div>
         <a href="#">mais planos ></a>
      </div>

      <ul class="planos-lista">
         <li class="planos-item plano-mensal">
            <header class="planos-header">
               <h3>MENSAL</h3>
               <span>R$ 89,90</span>
            </header>
            <ul>
               <li>30 dias de acesso</li>
               <li>Suporte de um personal</li>
               <li>Seu próprio treino</li>
               <li>Acesso de segunda a sábado</li>
            </ul>
            <a href="#" class="button-cinza button">INSCREVER-SE</a>
         </li>
         <li class="planos-item plano-semestral">
            <header class="planos-header">
               <h3>SEMESTRAL</h3>
               <span>R$ 479,90</span>
            </header>
            <ul>
               <li>6 meses de acesso</li>
               <li>Suporte de um personal</li>
               <li>Seu próprio treino</li>
               <li>Acesso de segunda a sábado</li>
            </ul>
            <a href="#" class="button-azul button">INSCREVER-SE</a>
         </li>
         <li class="planos-item plano-anual">
            <header class="planos-header">
               <h3>ANUAL</h3>
               <span>R$ 799,90</span>
            </header>
            <ul>
               <li>12 meses de acesso</li>
               <li>Suporte de um personal</li>
               <li>Seu próprio treino</li>
               <li>Acesso de segunda a sábado</li>
            </ul>
            <a href="#" class="button-amarelo button">INSCREVER-SE</a>
         </li>
      </ul>
   </section>

   <footer class="footer">
      <div class="footer-content container">
         <div class="footer-copyright">
            <a href="index.html" class="footer-logo"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt=""></a>
            <p>Fitness © Todos os direitos<br>reservados.</p>
         </div>
         <div class="footer-criadores">
            <h3>Criadores</h3>
            <ul>
               <li>Amanda Soares Vieira</li>
               <li>Matheus Teodoro Garcia</li>
               <li>Natália Campos Soares</li>
               <li>Roberto Moriya Junior</li>
               <li>Valmir Paiva Stachin</li>
            </ul>
         </div>
         <div class="footer-paginas">
            <h3>Páginas</h3>
            <ul>
               <li>Suporte</li>
               <li>Planos</li>
               <li>Treino</li>
            </ul>
         </div>
      </div>
   </footer>

   <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>