<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Cadastro - Fitness</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="img/svg+xml">
   <link rel="stylesheet" href="../static/style.css">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=IBM+Plex+Mono:wght@500;700&display=swap" rel="stylesheet">
</head>

<body id="cadastro">
   <article class="main-container">
      <div class="main-content">
         <header class="header">
            <div class="header-content container">
               <a href="/" class="logo"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt=""></a>
               <button class="menu"></button>
               <nav>
                  <ul class="nav">
                     <li><a href="planos.html">Planos</a></li>
                     <li><a href="treinos.html">Meu treino</a></li>
                     <li id="js-link-login"><a href="#">Login</a></li>
                     <li id="js-link-cadastro"><a href="cadastro.html">Cadastro</a></li>
                  </ul>
               </nav>
            </div>
         </header>
         <main class="main container">
            <h1 class="titulo-principal titulo">Acesse sua conta<br>agora mesmo.</h1>
         </main>
      </div>
   </article>
   
   <section class="login-container container">
      <div class="login-content">
         <div class="cadastro-topo">
            <h2>Login</h2>
            <button class="button-cadastro-login login-button"></button>
         </div>
         <form action="/login.html" method="GET" class="form-login">
               <div class="form-container">
                  <div>
                     <label for="email">E-mail</label>
                     <input type="email-login" id="email-login" name="email"/>
                  </div>
                  <div>
                     <label for="senha">Senha</label>
                     <input type="password" id="senha" name="senha"/>
                  </div>
               </div>
               <button class="enviar">ENVIAR</button>
         </form>
      </div>
   </section>


   <footer class="footer">
      <div class="footer-content container">
         <div class="footer-copyright">
            <a href="index.html" class="footer-logo"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt=""></a>
            <p>Fitness © Todos os direitos<br>reservados.</p>
         </div>
         <div class="footer-criadores">
            <h3>Criadores</h3>
            <ul>
               <li>Amanda Soares Vieira</li>
               <li>Matheus Teodoro Garcia</li>
               <li>Natália Campos Soares</li>
               <li>Roberto Moriya Junior</li>
               <li>Valmir Paiva Stachin</li>
            </ul>
         </div>
         <div class="footer-paginas">
            <h3>Páginas</h3>
            <ul>
               <li>Suporte</li>
               <li>Planos</li>
               <li>Treino</li>
            </ul>
         </div>
      </div>
   </footer>

   <script src="{{ url_for('static', filename='js/script.js') }}"></script> 
</body>

</html>