<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home - Fitness</title>
   <link rel="stylesheet" href="./css/style.css">
   <link rel="icon" href="./favicon.svg" type="img/svg+xml">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=IBM+Plex+Mono:wght@500;700&display=swap" rel="stylesheet">
</head>

<body id="planos">
   <article class="main-container">
      <div class="main-content">
         <header class="header">
            <div class="header-content container">
               <a href="index.html"><img src="./img/logo.svg" alt=""></a>
               <nav>
                  <ul class="nav">
                     <li><a href="#">Planos</a></li>
                     <li><a href="#">Suporte</a></li>
                     <li><a href="cadastro.html">Login</a></li>
                     <li><a href="cadastro.html">Cadastro</a></li>
                  </ul>
               </nav>
            </div>
         </header>
         <main class="main container">
            <h1 class="titulo-principal titulo">Aproveite antes<br>que seja tarde.</h1>
         </main>
      </div>
   </article>

   <section class=planos>
      <div class="planos-topo">
        <div class="titulo-planos">
          <span>Escolha um plano</span>
          <h2 class="titulo">Planos</h2>
        </div>
        <a href="#">mais planos ></a>
      </div>

      <ul class="planos-lista">
         <li class="planos-item planos-mensal">
            <header class="planos-header">
               <h3>MENSAL</h3>
               <span>R$ 89,90</span>
            </header>
            <ul>
               <li>30 dias de acesso</li>
               <li>Suporte de um personal</li>
               <li>Seu próprio treino</li>
               <li>Acesso de segunda a sábado</li>
            </ul>
            <a href="#" class="button">INSCREVER-SE</a>
         </li>
         <li class="planos-item planos-semestral">
            <header class="planos-header">
               <h3>SEMESTRAL</h3>
               <span>R$ 479,90</span>
            </header>
            <ul>
               <li>6 meses de acesso</li>
               <li>Suporte de um personal</li>
               <li>Seu próprio treino</li>
               <li>Acesso de segunda a sábado</li>
            </ul>
            <a href="#" class="button-azul">INSCREVER-SE</a>
         </li>
         <li class="planos-item planos-anual">
            <header class="planos-header">
               <h3>ANUAL</h3>
               <span>R$ 799,90</span>
            </header>
            <ul>
               <li>12 meses de acesso</li>
               <li>Suporte de um personal</li>
               <li>Seu próprio treino</li>
               <li>Acesso de segunda a sábado</li>
            </ul>
            <a href="#" class="button-am">INSCREVER-SE</a>
         </li>
      </ul>
   </section>

   <footer class="footer">
      <div class="footer-copyright">
         <div><img src="./img/logo.svg" alt=""></div>
         <p>Fitness © Todos os direitos reservados.</p>
      </div>
      <div class="footer-criadores">
         <h3>Criadores</h3>
         <ul>
            <li>Matheus Teodoro Garcia</li>
            <li>Valmir Paiva Stachin</li>
            <li>Natália Campos Soares</li>
            <li>Roberto Moriya Junior</li>
            <li>Amanda Soares Vieira</li>
         </ul>
      </div>
      <div class="footer-paginas">
         <h3>Páginas</h3>
         <ul>
            <li>Suporte</li>
            <li>Planos</li>
            <li>Treino</li>
         </ul>
      </div>
   </footer>
</body>

</html>