<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinos - (user)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="img/svg+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=IBM+Plex+Mono:wght@500;700&display=swap" rel="stylesheet">
</head>

<body id="treinos">
    <article class="main-container">
        <div class="main-content">
            <header class="header">
                <div class="header-content container">
                    <a href="/" class="logo"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt=""></a>
                    <nav>
                        <ul class="nav">
                            <li><a href="planos.html">Planos</a></li>
                            <li><a href="#">Meu treino</a></li>
                            <li id="js-link-login"><a href="login.html">Login</a></li>
                            <li id="js-link-cadastro"><a href="cadastro.html">Cadastro</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main class="main container">
                <h1 class="titulo-principal titulo">Tenha o seu<br>próprio treino.</h1>
            </main>
        </div>
    </article>
    <div class="informacoes-usuario">
        <p id="nome-usuario">{{nome}}</p>
        <div>
            <span>OBJETIVO</span>
            <p>{{objetivo}}</p>
        </div>
        <div>
            <span>FREQUÊNCIA</span>
            <p>{{frequencia}}</p>
        </div>
    </div>
    </main>

    <section class="container-treino-geral">
        <div class="container-treino">
            <ul class="container-treino-painel">
                <li class="lista-treino">
                    <h3>Seg</h3>
                    <span>peito<br>tríceps</span>
                </li>
                <li class="lista-treino">
                    <h3>Ter</h3>
                    <span>costas<br>bíceps</span>
                </li>
                <li class="lista-treino">
                    <h3>Qua</h3>
                    <span>quadriceps<br>femoral</span>
                </li>
                <li class="lista-treino">
                    <h3>Qui</h3>
                    <span>ombro<br>tríceps</span>
                </li>
                <li class="lista-treino">
                    <h3>Sex</h3>
                    <span>bíceps<br>panturrilha</span>
                </li>
                <li class="lista-treino">
                    <h3>Sab</h3>
                    <span>...</span>
                </li>
            </ul>
            <div class="especificacoes-treino">
                <div class="selecionar-musculo">
                    <h3>Segunda</h3>
                    <ul>
                        <li><button>1</button></li>
                        <li><button>2</button></li>
                        <li><button>3</button></li>
                    </ul>
                </div>
                <table class="especificacoes-table">
                    <tr>
                        <th>Exercício</th>
                        <th>Ferramenta</th>
                        <th>Repeticões</th>
                    </tr>
                    <tr>
                        <td>Supino<br>Inclinado</td>
                        <td>Alter</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Supino<br>Inclinado</td>
                        <td>Alter</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Supino<br>Inclinado</td>
                        <td>Alter</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Supino<br>Inclinado</td>
                        <td>Alter</td>
                        <td>8</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <section class="container-solicitar-treino container">
        <div id="form-div">
            <h1>Solicitar novo treino.</h1>
            <p>Tenha seu treino montado por profissionais capacitados.</p>
            <form action="" class="form-solicitar-treino">
                <div class="input-box">
                    <label for="objetivo-select">Objetivo</label>
                    <select name="" id="objetivo-select" class="select">
                        <option value="Null"></option>
                        <option value="">Objetivo 1</option>
                        <option value="">Objetivo 2</option>
                        <option value="">Objetivo 3</option>
                    </select>
                </div>
                <div class="input-box">
                    <label for="frequencia-select">Frequência</label>
                    <select name="" id="frequencia-select" class="select">
                        <option value="Null"></option>
                        <option value="1">1 dia por semana</option>
                        <option value="2">2 dias por semana</option>
                        <option value="3">3 dias por semana</option>
                        <option value="4">4 dias por semana</option>
                        <option value="5">5 dias por semana</option>
                        <option value="6">6 dias por semana</option>
                        <option value="7">7 dias por semana</option>
                    </select>
                </div>
                <button>SOLICITAR</button>
            </form>
        </div>
        <div id="bodybuilder-div"><img src="{{ url_for('static', filename='img/bodybuilder.jpg') }}" alt=""></div>
    </section>

    <footer class="footer">
        <div class="footer-content container">
            <div class="footer-copyright">
                <a href="index.html" class="footer-logo"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt=""></a>
                <p>Fitness © Todos os direitos<br>reservados.</p>
            </div>
            <div class="footer-criadores">
                <h3>Criadores</h3>
                <ul>
                    <li>Amanda Soares Vieira</li>
                    <li>Matheus Teodoro Garcia</li>
                    <li>Natália Campos Soares</li>
                    <li>Roberto Moriya Junior</li>
                    <li>Valmir Paiva Stachin</li>
                </ul>
            </div>
            <div class="footer-paginas">
                <h3>Páginas</h3>
                <ul>
                    <li>Suporte</li>
                    <li>Planos</li>
                    <li>Treino</li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>