#planos{
    background-color: var(--cor02);
    color:var(--cor01);
}

#planos .main-container {
    background-image: url('../../img/fundo-planos.jpg');
}

.planos{
    background-color: var(--cor06);
    margin-left: 80px; ;
    border-radius: 40px 0px 0px 40px;
    padding:80px ;
    
}
.planos-topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   
}
.titulo-planos{
    font-family: 'IBM Plex Mono';
    
}
.titulo-planos span{
    color: var(--cor05);
    font-size: 1.5rem;

}
.titulo-planos h2{
    font-family: 'Barlow';
    font-size: 4rem;
}
.titulo{
    color: white;
}
.planos-topo a{
    font-family: 'IBM Plex Mono';
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.planos-lista{
    display: flex;
    gap: 40px;
}
.planos-item{
    padding: 40px;
    background-color: var(--cor02);
    border-radius: 8px;   
}
.planos-item h3{
    font-size: 2rem;
    font-family: 'Barlow';
    font-weight: bold;
    width: 400px;
}
.planos-header{
    display: flex;
    align-items: center;
    margin-left: 12px;
    border-bottom:2px solid var(--cor01);
}
.planos-header span{
    font-family: 'Barlow';
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor05);
    white-space: nowrap;
}
a.button {
    display: inline-block;
    padding: 10px 20px; 
    text-decoration: none;
    background-color:var(--cor10);
    color:var(--cor01);
    border-radius: 5px;
    font-family: 'Barlow';
    font-weight: bold;
    font-size: 18px;
  }
  a.button-azul {
    display: inline-block;
    padding: 10px 20px; 
    text-decoration: none;
    background-color:var(--cor04);
    color:var(--cor01);
    border-radius: 5px;
    font-family: 'Barlow';
    font-weight: bold;
    font-size: 18px;
  }
  a.button-am {
    display: inline-block;
    padding: 10px 20px; 
    text-decoration: none;
    background-color:var(--cor03);
    color:var(--cor02);
    border-radius: 5px;
    font-family: 'Barlow';
    font-weight: bold;
    font-size: 18px;
  }
  .planos-mensal .planos-header {
    border-bottom: 2px solid var(--cor01); 
}

.planos-semestral .planos-header {
    border-bottom: 2px solid var(--cor04); 
}

.planos-anual .planos-header {
    border-bottom: 2px solid var(--cor03);
}
.footer-copyright{
    font-size: 18px;
}
.footer-criadores h3{
    font-family: 'Barlow';
}
.footer-paginas h3{
    font-family: 'Barlow'; 
}